body {
    padding-top:11vw;
    margin:0;
    padding-left:2vw;
    padding-right:2vw;
    padding-bottom:0;
    background: linear-gradient(rgba(255,255,255,0.5)), rgba(255,255,255,0.5) url(../../../Images/Randoms/gira-sitting.webp);
    background-position-x:20%;
    background-position-y:10%;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x:hidden;
    align-items: center;
    cursor:default;
}

.page-wrapper {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

main {
    flex:1;
}

.page-title {
    font-size:6vw;
    text-align: center;
    font-family:'Domine', Arial, Helvetica, sans-serif;
    color:rgb(43, 85, 183);
    font-family:'Domine', Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 0.15vw rgb(219, 206, 206);
    margin-bottom:15%;
}

.information-container {
    display:flex;
    flex-direction:row;
    justify-content:center;
    justify-self: center;
    position:relative;
    width:80%;
    background-color:rgba(66, 107, 202, 0.85);
    padding:1.5%;
    border-radius:1vw;
    border-style:solid;
    font-family:'Merriweather sans', Arial, Helvetica, sans-serif;
    margin-bottom:20%;
}

.image-container {
    display:flex;
    margin-right:1vw;
    height:min-content;
    flex:1;
    align-self: center;
    padding:2%;
    background-color:rgb(255, 255, 255);
}

.image- {
    height:auto;
    max-width:100%;
    align-self: center;
    box-shadow: 0vw 0vw 1vw 0.6vw rgba(0,0,0,0.5);
}

.paragraph-container {
    flex:2;
}

.paragraph {
    text-align:center;
    display:inline-block;
    font-size:3vw;
    color:white;
}

@media only screen and (min-width:300px) and (max-width:1100px) {
    body {
        padding-top:28vw;
        background-position-x:60%;
    }
    .information-container {
        width:100%;
        flex-direction: column;
        gap:1.5vw;
    }
    .image- {
        max-height:40vw;
    }
    .paragraph {
        font-size:14px !important;
        padding:1vw;
    }
}
