@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position:fixed;
    width:101%;
    height: 6vw;
    background-color:rgb(118, 164, 239);
    padding: 0 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    top:0;
    z-index: 998;
    padding:1% 0;
    left:-1%;
}

header .logo {
    color:#fff;
    text-decoration:none;
    background-image: url(../Images/logo/logo1200px.png);
    background-size:contain;
    background-repeat:no-repeat;
    width:9.5vw;
    height:5vw;
    margin:0;
    padding:0;
    position:relative;
    left:2%;
    border:none;
    color:transparent;
}
header nav {
    margin-right:2%;
}

header ul {
    position:relative;
}

header ul li {
    position:relative;
    list-style: none;
    float:left;
}
header ul li a {
    color:#fff;
    font-size: 1.5vw;
    padding: 1vw 1.5vw;
    text-decoration: none;
    display:flex;
    justify-content: space-between;
}

header ul li a:hover {
    background-color: rgb(66, 107, 202);
}

header ul li ul {
    position:absolute;
    left:0;
    width: 100%;
    background: rgb(118, 164, 239);
    display:none;
}

header ul li:hover > ul {
    display:block;

}

header ul li ul li {
    position:relative;
    width:100%;
    border: 1px solid rgba(0,0,0,0.2);
}

header ul li ul li ul {
    top:0;
    left: 200px;
}


@media (min-width:300px) and (max-width: 1100px){
    header {
        width:101%;
        justify-content: center;
        left:-1%;
        height:19vw;
        
    }
    header .logo {
        width:32.5vw;
        height:17vw;
        position:relative;
        display:inline-block;
        left:0;
    }
    header nav {
        position: absolute;
        width:60vw;
        top:19vw;
        right:-4%;
        background: rgb(66, 107, 202);
        display:none;
        margin-right:4%;
    }
    header ul li a {
        padding: 10px 15px;
    }

    nav ul li a.tapped {
        background-color: rgba(0, 0, 0, 0.1);
    }
    nav ul ul {
        display: none;
        position: relative;
        z-index: 999;
    }
      nav ul li a.open + ul {
        display: block;
    }
    header.active nav {
        display:initial;
    }
    header nav ul li {
        width:100%;
    }
    header nav ul li ul {
        position: relative;
        width:100%;
        left:0;
    }
    header ul li ul li ul {
        top:0;
        left:0;
    }
    header nav ul li:hover ul li {
        background: rgb(118, 164, 239);
    }
    .menuToggle {
        position:absolute;
        width:4vw;
        min-width:30px;
        height:5vw;
        min-height:40px;
        cursor:pointer;
        display:flex;
        justify-content: center;
        align-items:center;
        margin-right:2vw;
        right:0;
        z-index: 9999;
        bottom:1vw;
    }
    .menuToggle::before {
        content: '';
        position:absolute;
        width:100%;
        height:0.5vw;
        background:#fff;
        transform: translateY(-12px);
        box-shadow: 0 12px #fff;
    }
    .menuToggle::after {
        content: '';
        position:absolute;
        width:100%;
        height:0.5vw;
        background:#fff;
        transform: translateY(12px);
    }
    header.active .menuToggle::before {
        transform: rotate(45deg);
        box-shadow: 0 0 #fff;
    }
    header.active .menuToggle::after {
        transform: rotate(315deg);
        
    }
    nav ul li a.open + ul {
        opacity: 1;
    }
    nav ul ul {
        display: none;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.4s ease, opacity 0.4s ease;
    }
    header ul li a {
        font-size:14px;
        padding:7px 10px;
    }
    .mobile {
        width:101%;
        justify-content: center;
        left:-1%;
        height:7vw;
        min-height:60px;
    }
    header.mobile {
        transition: height 1s ease;
    }
    .logo-scrolled {
        display:none !important;
        
    }
    .menuToggle-scrolled {
        position:relative;
        justify-self:center;
        top:0.1vh;
    }
    header nav.scrolled {
        right:-4%;
        top:7vw;
        width:53%;
    }
    
}

@media (min-width:300px) and (max-width: 856px) {
    header nav.scrolled {
        top:60px;
    }
}