body {
    height:100%;
    font-family: Arial, Helvetica, sans-serif;
    padding-top:11vw;
    margin:0;
    padding-left:2vw;
    padding-right:2vw;
    padding-bottom:0;
    background: linear-gradient(rgba(255,255,255,0.5)), rgba(255,255,255,0.5) url(../Images/Randoms/Gira.webp);
    background-position-y:20%;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x:hidden;
    cursor:default;
}

.page-wrapper {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

.main {
    flex:1;
}

.background-container {
    position: relative;
    text-align:center;
    color:white;
    width:100%;
    max-height:100%;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 2vw;
}

.background-image-container {
    display:flex;
}

.background-image-rocky,
.background-image-kentauras {
    align-self: center;
    border-radius:10px;
    display:block;
    max-height:100%;
}

.background-image-rocky {
    border-radius:1vw;
    max-width:100%;
    width:38vw;
    height:auto;
    height: auto\9;
    position:relative;
    border-style:solid;
    border-color:black;
    border-width:0.2vw;
}

.background-image-kentauras {
    border-radius:1vw;
    max-height:100%;
    height:30.8133vw;
    width:auto;
    height: auto\9;
    position: relative;
    border-style:solid;
    border-color:black;
    border-width:0.2vw;
    object-fit: cover;
}

.center {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:auto;
    margin-left: 5px;
    margin-right: 5px;
    flex-shrink: 0;
}

.welcome, 
.hiams-hounds {
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    text-shadow:0.2vw 0.5vw 0.6vw black;
    font-style: oblique;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: black;
}

.welcome {
    margin-bottom:2.5%;
    font-size:5vw;
}

.hiams-hounds {
    font-size:6.5vw;
}

.paragraph-main-container {
    width:90%;
    display:block;
    position:absolute;
    align-self:center;
    left:5%;
    border-radius:0.5vw;
}

.info-container {
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin-top:15%;
}

.paragraph-container {
    display:flex;
    flex-direction: column;
}

.paragraph-text {
    font-size: 2vw;
    font-family: "Domine";
    line-height: 2.5vw;
    display:block;
    padding:0;
    margin:0;
    text-align:center;
    align-self: center;
    color:white;
    font-weight: 400;
    max-width:95%;
}

.paragraph1-title {
    display:inline-block;
    margin:3% 0 1% 0;
    font-size:3vw;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}

.paragraph1 {
    display:flex;
    flex-direction:column-reverse;
    align-items: center;
    margin-bottom:0;
    border-style:solid;
    border-right: none;
    border-left:none;
    border-color:black;
    border-width:0.2vw;
    background-color:rgba(66, 107, 202, 0.7);
    width:104.5%;
    align-self:center;
}

.paragraph2 {
    display:flex;
    flex-direction:row;
    margin-top:12%;
    margin-bottom:12%;
    margin-left:8vw;
    vertical-align: middle;
    border-style:solid;
    border-color:black;
    border-width:0.2vw;
    border-radius: 1vw;
    background-color:rgba(66, 107, 202, 0.7);
    max-width:100%;
}

.paragraph3 {
    display:flex;
    flex-direction:row;
    margin-right:8vw;
    column-gap: 1vw;
    margin-bottom:0;
    border-style:solid;
    border-color:black;
    border-width:0.2vw;
    background-color:rgba(66, 107, 202, 0.7);
    max-width:100%;
    flex:2;
    border-radius:1vw;
}

.paragraph-image-puppies {
    display: flex;
    justify-content: center;
    margin-top:1%;
    padding:1.5%;
    background-color:white;
    height:35vw;
}

.paragraph-text1 {
    font-size: 2vw;
    font-family: "Domine", Arial, Helvetica, sans-serif;
    line-height: 2.5vw;
    display:block;
    padding:0;
    margin:2% 0 2% 0;
    text-align:center;
    align-self: center;
    color:white;
    font-weight: 400;
    max-width:95%;
}

.paragraph-image-lickypoo {
    align-items: center;
    display: flex;
    max-width:100%;
    padding:1.5%;
    background-color:white; 
    margin: 2% 0 2% 2%;
    flex:1;
}

.paragraph-image-iko {
    align-items: center;
    display: flex;
    max-width:100%;
    padding:1.5%;
    background-color:white;
    margin: 2% 2% 2% 0;
    flex:1;
}

.image-homepage-shepherdPuppies {
    display:flex;
    max-width:auto;
    max-height:100%;
    box-shadow:0vw 0vw 1vw 0.6vw rgba(0,0,0,0.5);
}

.image-homepage-lickypoo {
    max-width:100%;
    height:auto;
    box-shadow:0vw 0vw 1vw 0.6vw rgba(0,0,0,0.5);
}

.image-homepage-iko {
    max-width:100%;
    height:auto;
    box-shadow:0vw 0vw 1vw 0.6vw rgba(0,0,0,0.5);
}

.paragraph-info {
    display:flex;
    flex-direction: column;
    text-align:center;
    margin-left: 0.8vw;
    text-indent: 1vw;
    flex:2;
    justify-content: center;
}

.paragraph-info-reverse {
    display:flex;
    flex-direction: column;
    text-align:center;
    margin-left: 0.8vw;
    text-indent: 1vw;
    flex:2;
    justify-content: center;
}


/* mobile device */

@media only screen and (min-width:300px) and (max-width:1100px) {
    body {
        padding-top:28vw;
        background-position-x:85%;
    }
    .background-container {
        justify-content: center;
        width:100%;
        height:60vw;
        opacity:0;
        transition: opacity 1s ease;
    }
    .center {
        display:block;
        position: absolute;
        z-index: 2;
        align-self: center;
    }
    .welcome {
        font-size:7vw;
        -webkit-text-stroke-width: 0;
        margin-top:15%;
    }
    .hiams-hounds {
        font-size:8.5vw;
        -webkit-text-stroke-width: 0;
    }
    .background-image-rocky {
        border-top-right-radius:0;
        border-bottom-right-radius:0;
        border-right-style:none;
        width:auto;
        height:60vw;
    }
    .background-image-kentauras {
        border-top-left-radius:0;
        border-bottom-left-radius:0;
        border-left-style: none;
        height:60vw;
        
    }
    #kentauras-container {
        justify-content:start !important;
    }
    .background-image-container {
        justify-content:end;
    }
    .info-container {
        width:80%;
        align-self: center;
        position:relative;
        justify-self: center;
    }
    .paragraph1 {
        border-style:none;
        margin-bottom:15%;
        width:100%;
        opacity:0;
        transition: opacity 1.8s ease;
    }
    .paragraph2 {
        flex-direction: column;
        margin:0;
        align-items:center;
        border:none;
        border-radius:0;
        margin-bottom:15%;
        opacity:0;
        transition: opacity 2s ease;
    }
    .paragraph3 {
        flex-direction: column-reverse;
        margin:0;
        align-items:center;
        border:none;
        border-radius:0;
        opacity:0;
        transition: opacity 2.5s ease;
    }
    
    .paragraph-image-puppies,
    .paragraph-image-lickypoo,
    .paragraph-image-iko {
        margin-bottom:5px;
        flex:0;
        padding:2% 2%;
        margin:0 0 3% 0;
        background-color:white;
        margin-top:2%;
        object-fit:cover;
    }
    .image-homepage-iko,
    .image-homepage-lickypoo,
    .image-homepage-shepherdPuppies {
        border-radius: 0;
        margin:0;
        max-width:60vw;
        max-height:40vw;
    }
    .paragraph1-title {
        font-size:5vw
    }
    .paragraph-text,
    .paragraph-text1 {
        font-size:4vw;
        line-height: 6vw;
        margin-bottom: 2%;
    }
}
